.about {
    background: url(../assets/journal-applied-mathematics-and-statistics.png);
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    .aboutMe {
        display: flex;
        align-items: center;
        @include forTablet {
            flex-direction: column;
        }
        img {
            width: 20%;
            margin-right: 50px;
            @include forTablet {
                width: 50%;
                margin: 0 auto;
            }
            border: 5px solid #65d9fd;
            border-radius: 5px;
        }
        div {
            width: 80%;
            height: 100%;
            @include forTablet {
                width: 100%;
                text-align: center;
            }
            button {
                background-color: #65d9fd;
                color: #ffffff;
                border: none;
                text-transform: uppercase;
                font-weight: 800;
                width: 20%;
                padding: 10px;
                font-size: 2rem;
                &:hover,
                &:focus{
                    opacity: .8,
                }
                @include forTablet {
                    width: 40%;
                }
            }
        }

    }
    
}