.contact {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    h2 {
        color: #f1f1f1
    }
    .contactMe {
        display: flex;
        color: #F1F1F1;
        @include forTablet {
            flex-direction: column;
        }

        .fullContact {
            img {
                margin: 20px auto;
                height: auto;
            }
            background-color: rgba(121,120,136, .7);
            width: 40%;
            margin-right: 50px;
            // padding: 100px 0;
            @include forTablet {
                width: 100%;
                margin-bottom: 50px;
            }
            .contact-text {
                font-style: normal;
                text-align: center;
                i {
                    font-size: 2.2rem;
                }
                a {
                    font-size: 2.2rem;
                    &:hover,
                    &:focus {
                        color: black;
                    }
                }
                i.fa-envelope:hover,
                i.fa-phone-alt:hover {
                    color: black;
                }
            }
            .socialIcons {
                text-align: center;
                i {
                    font-size: 2.5rem;
                    &.fa-github:hover,
                    &.fa-file:hover,
                    &.fa-github:focus,
                    &.fa-file:focus {
                        color: black;
                    }
                    &.fa-twitter:hover,
                    &.fa-twitter:focus  {
                        color: #4C9FEB;
                    }
                    &.fa-linkedin:hover,
                    &.fa-linkedin:focus {
                        color: #3071AC;
                    }
                }
                @include forTablet {
                    width: 100%;
                    padding: 20px 0;
                    margin-bottom: 50px;
                    text-align: center;
                }

            }
        }
    
        form {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            min-height: 40vh;
            background-color: rgba(121, 120, 136, 0.705);
            font-size: 2rem;
            input,
            textarea {
                border: 1px solid rgba(0,0,0,0.7);
                background: rgba(0,0,0,0.4);
                color: #a1b1bc;
                margin: 10px;
                padding: 10px;
            }
            textarea{
                resize: none;
            }
            input[type="submit"]{
                background-color: $buttonHoverColor;
                color: $buttonFontColor;
                border: none;
                text-transform: uppercase;
                font-weight: 800;
                width: 30%;
                &:hover,
                &:focus{
                    opacity: .8,
                }
            }
            @include forTablet {
                width: 100%;
            }
        }
    }
}