header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/scott-webb-VL-OvBppmzI-unsplash.jpg);

    @include headerConstant (100vh);
    
    .hamburger,
    .cross {
        background: none;
        position: fixed;
        top: 0;
        right: 0;
        padding: 5px 15px 0px 15px;
        color: $accentColor;
        border: 0;
        z-index: 100;
        cursor: pointer;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 10vh;
        background-color: $secondaryColor;
        z-index: 50;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            @include forTablet {
                flex-direction: column;
                min-height: 100vh;
            }

            li {
                margin: 20px;
                text-transform: uppercase;
                font-size: 2.5rem;
                display: block;
                padding: 15px 0;
            }

            a {
                color: $fontColor;

                &:hover,
                &:focus {
                    color: $accentColor;
                }

                &:active {
                    border-bottom: 3px solid $accentColor;
                }

                // .active {
                //     border-bottom: 3px solid #65d9fd;
                // }
            }
        }
    }

    .headerName {
        position: relative;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // @include forTablet {
        //     .animated {
        //         all: unset;
        //     }

        //     .noanimated {
        //         -webkit-animation: none !important;
        //         -moz-animation: none !important;
        //         -o-animation: none !important;
        //         -ms-animation: none !important;
        //         animation: none !important;
        //     }
        // }

        // .noanimated {
        //     -webkit-animation: none !important;
        //     -moz-animation: none !important;
        //     -o-animation: none !important;
        //     -ms-animation: none !important;
        //     animation: none !important;
        // }

        h1,
        span,
        h2 {
            font-size: 20rem;
            font-weight: 800;
            letter-spacing: 25px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, .3);
            position: absolute;
            // width: 100%;
            text-align: center;

            @include forSmallDesktop {
                font-size: 15rem;
            }

            @include forTablet {
                font-size: 9rem;
            }

            @include forPhone {
                font-size: 5rem;
                letter-spacing: 20px;
            }

            @include forSmallerPhone {
                font-size: 4.5rem;
            }
        }

        span {
            // position: relative;
            font-size: 10rem;
            letter-spacing: 15px;
            color: $fontColor;
            font-weight: 700;

            @include forSmallDesktop {
                font-size: 7.5rem;
            }

            @include forTablet {
                font-size: 4rem;
            }

            @include forPhone {
                font-size: 2.7rem;
                letter-spacing: 10px;
            }

            @include forSmallerPhone {
                letter-spacing: 8px;
            }
        }

        h2 {
            font-size: 5rem;
            color: $fontColor;
            letter-spacing: 5px;
            top: 575px;
            margin: 0;

            @include forSmallDesktop {
                top: 530px;
            }

            @include forTablet {
                font-size: 3.5rem;
                top: 470px;
            }

            @include forPhone {
                font-size: 2.5rem;
                letter-spacing: 2px;
                top: 430px;
            }

            // @media (max-height: 600px) {
            //     top: 280px;
            // }

            // @media (max-height: 400px) {
            //     top: 200px;
            // }
        }
    }
}