.portfolio {
    padding: 50px
}

.portfolioPieces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include forTablet {
        flex-direction: column;
    }
    margin: 20px 0;
    div {
        width: calc(50% - 40px);
        margin: 50px 20px;
        @include forTablet {
            width: 100%;
        }
        p {
            color: darken(#C4CED5, 30%);
        }
        p:last-of-type {
            color: black;
        }
        a {
            font-size: 2rem;
            border-radius: 5px;
            border: none;
            font-weight: 900;
            color: #ffffff;
            background-color: #a1b1bc;
            padding: 10px;
            margin: 10px 0;
            display: inline-block;
            margin-right: 10px;
            &:hover,
            &:focus {
                background-color: #65d9fd;;
            }
            a {
                color: #ffffff;
            }
        }
    }
    img {
        width: calc(50% - 20px);
        @include forTablet {
            width: 100%;
        }
    }
}

.portfolioPiecesReverse {
    flex-direction: row-reverse;
    text-align: right;
}