.skills {
    background-color: rgba(121,120,136, .8);
    min-height: 50vh;
    div {
        ul {
            display: grid;
            grid-template-columns: repeat(5, 20%);

            @include forTablet {
                grid-template-columns: repeat(4, 25%);
                text-align: center;
            }

            @include forPhone {
                grid-template-columns: repeat(2, 50%);
            }

            margin: 20px 0;
            li {
                text-align: center;
                @include forTablet {
                    &:nth-of-type(9) {
                        grid-column-start: 2;
                    }
                }
                @include forPhone {
                    &:nth-of-type(9) {
                        grid-column-start: 1;
                    }
                }
                p {
                    text-shadow: 3px 3px 5px #65d9fd;
                }
            }
            img {
                width: 15rem;
                height: 5rem;
                margin: 20px auto;
            }
        }
    }
}