article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* stripping style */
body,
h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li {
  list-style: none;
}

/* root size */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%;
  height: 100%;
  max-height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .wrapper {
    width: 100%;
  }
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
  padding: 10px 0;
}

section {
  padding: 50px;
}

i {
  display: block;
  font-size: 5rem;
  margin: 20px;
}

header,
.thankYou {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/scott-webb-VL-OvBppmzI-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/scott-webb-VL-OvBppmzI-unsplash.jpg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

header .hamburger,
header .cross,
.thankYou .hamburger,
.thankYou .cross {
  background: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px 15px 0px 15px;
  color: #65d9fd;
  border: 0;
  z-index: 100;
}

header nav,
.thankYou nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 10vh;
  background-color: black;
  z-index: 50;
}

header nav ul,
.thankYou nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 900px) {
  header nav ul,
  .thankYou nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav ul li,
.thankYou nav ul li {
  margin: 20px;
  text-transform: uppercase;
  font-size: 2.5rem;
  display: block;
  padding: 15px 0;
}

header nav ul a,
.thankYou nav ul a {
  color: white;
}

header nav ul a:hover, header nav ul a:focus,
.thankYou nav ul a:hover,
.thankYou nav ul a:focus {
  color: #65d9fd;
}

header div div,
.thankYou div div {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerName,
.thankYou .headerName {
  position: relative;
}

header .headerName h1,
header .headerName span,
header .headerName h2,
.thankYou .headerName h1,
.thankYou .headerName span,
.thankYou .headerName h2 {
  font-size: 20rem;
  font-weight: 800;
  letter-spacing: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 100vw;
  text-align: center;
}

@media (max-width: 1200px) {
  header .headerName h1,
  header .headerName span,
  header .headerName h2,
  .thankYou .headerName h1,
  .thankYou .headerName span,
  .thankYou .headerName h2 {
    font-size: 15rem;
  }
}

@media (max-width: 900px) {
  header .headerName h1,
  header .headerName span,
  header .headerName h2,
  .thankYou .headerName h1,
  .thankYou .headerName span,
  .thankYou .headerName h2 {
    font-size: 9rem;
  }
}

@media (max-width: 605px) {
  header .headerName h1,
  header .headerName span,
  header .headerName h2,
  .thankYou .headerName h1,
  .thankYou .headerName span,
  .thankYou .headerName h2 {
    font-size: 5rem;
    letter-spacing: 20px;
  }
}

@media (max-width: 400px) {
  header .headerName h1,
  header .headerName span,
  header .headerName h2,
  .thankYou .headerName h1,
  .thankYou .headerName span,
  .thankYou .headerName h2 {
    font-size: 4.5rem;
  }
}

header .headerName span,
.thankYou .headerName span {
  position: relative;
  font-size: 10rem;
  color: white;
  font-weight: 700;
}

@media (max-width: 1200px) {
  header .headerName span,
  .thankYou .headerName span {
    font-size: 7.5rem;
  }
}

@media (max-width: 900px) {
  header .headerName span,
  .thankYou .headerName span {
    font-size: 4rem;
  }
}

@media (max-width: 605px) {
  header .headerName span,
  .thankYou .headerName span {
    font-size: 2.7rem;
    letter-spacing: 10px;
  }
}

@media (max-width: 400px) {
  header .headerName span,
  .thankYou .headerName span {
    letter-spacing: 8px;
  }
}

header .headerName h2,
.thankYou .headerName h2 {
  font-size: 5rem;
  color: white;
  letter-spacing: 5px;
  top: 585px;
  margin: 0;
}

@media (max-width: 1200px) {
  header .headerName h2,
  .thankYou .headerName h2 {
    top: 530px;
  }
}

@media (max-width: 900px) {
  header .headerName h2,
  .thankYou .headerName h2 {
    font-size: 3.5rem;
    top: 470px;
  }
}

@media (max-width: 605px) {
  header .headerName h2,
  .thankYou .headerName h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    top: 430px;
  }
}

@media (max-height: 600px) {
  header .headerName h2,
  .thankYou .headerName h2 {
    top: 280px;
  }
}

@media (max-height: 400px) {
  header .headerName h2,
  .thankYou .headerName h2 {
    top: 200px;
  }
}

.about .aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .about .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .aboutMe img {
  width: 20%;
  margin-right: 50px;
}

@media (max-width: 900px) {
  .about .aboutMe img {
    width: 50%;
    margin: 0 auto;
  }
}

.about .aboutMe div {
  width: 80%;
}

@media (max-width: 900px) {
  .about .aboutMe div {
    width: 100%;
    text-align: center;
  }
}

.about .aboutMe div button {
  background-color: #65d9fd;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  width: 20%;
  padding: 10px;
  font-size: 2rem;
}

.about .aboutMe div button:hover, .about .aboutMe div button:focus {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .about .aboutMe div button {
    width: 40%;
  }
}

.skills {
  background-color: rgba(121, 120, 136, 0.8);
  min-height: 50vh;
}

.skills div ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  margin: 20px 0;
}

@media (max-width: 900px) {
  .skills div ul {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    text-align: center;
  }
}

@media (max-width: 605px) {
  .skills div ul {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

.skills div ul li {
  text-align: center;
}

@media (max-width: 900px) {
  .skills div ul li:nth-of-type(9) {
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
}

@media (max-width: 605px) {
  .skills div ul li:nth-of-type(9) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.skills div ul img {
  width: 15rem;
  height: 5rem;
  margin: 20px auto;
}

.portfolio {
  padding: 50px;
}

.portfolioPieces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0;
}

@media (max-width: 900px) {
  .portfolioPieces {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolioPieces div {
  width: calc(50% - 40px);
  margin: 50px 20px;
}

@media (max-width: 900px) {
  .portfolioPieces div {
    width: 100%;
  }
}

.portfolioPieces div p {
  color: #6b8495;
}

.portfolioPieces div p:last-of-type {
  color: black;
}

.portfolioPieces div button {
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  color: #ffffff;
  background-color: #a1b1bc;
  padding: 10px;
  margin-right: 10px;
}

.portfolioPieces div button:hover, .portfolioPieces div button:focus {
  background-color: #65d9fd;
}

.portfolioPieces div button a {
  color: #ffffff;
}

.portfolioPieces img {
  width: calc(50% - 20px);
}

@media (max-width: 900px) {
  .portfolioPieces img {
    width: 100%;
  }
}

.portfolioPiecesReverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.contact h2 {
  color: #f1f1f1;
}

.contact .contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F1F1F1;
}

@media (max-width: 900px) {
  .contact .contactMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .contactMe .fullContact {
  text-align: center;
  background-color: rgba(121, 120, 136, 0.7);
  width: 40%;
  margin-right: 50px;
}

.contact .contactMe .fullContact img {
  margin: 20px auto;
  height: auto;
}

@media (max-width: 900px) {
  .contact .contactMe .fullContact {
    width: 100%;
    margin-bottom: 50px;
  }
}

.contact .contactMe .fullContact .contact-text {
  font-style: normal;
  display: inline-block;
  text-align: left;
}

.contact .contactMe .fullContact .contact-text i {
  font-size: 2.2rem;
}

@media (max-width: 900px) {
  .contact .contactMe .fullContact .contact-text i {
    margin: 20px 15px;
  }
}

.contact .contactMe .fullContact .contact-text a {
  font-size: 2.2rem;
}

.contact .contactMe .fullContact .contact-text a:hover, .contact .contactMe .fullContact .contact-text a:focus {
  color: black;
}

.contact .contactMe .fullContact .contact-text i.fa-envelope:hover,
.contact .contactMe .fullContact .contact-text i.fa-phone-alt:hover,
.contact .contactMe .fullContact .contact-text i.fa-envelope:focus,
.contact .contactMe .fullContact .contact-text i.fa-phone-alt:focus {
  color: black;
}

.contact .contactMe .fullContact .socialIcons i {
  font-size: 2.5rem;
}

.contact .contactMe .fullContact .socialIcons i.fa-github:hover, .contact .contactMe .fullContact .socialIcons i.fa-file:hover, .contact .contactMe .fullContact .socialIcons i.fa-github:focus, .contact .contactMe .fullContact .socialIcons i.fa-file:focus {
  color: black;
}

.contact .contactMe .fullContact .socialIcons i.fa-twitter:hover, .contact .contactMe .fullContact .socialIcons i.fa-twitter:focus {
  color: #4C9FEB;
}

.contact .contactMe .fullContact .socialIcons i.fa-linkedin:hover, .contact .contactMe .fullContact .socialIcons i.fa-linkedin:focus {
  color: #3071AC;
}

@media (max-width: 900px) {
  .contact .contactMe .fullContact .socialIcons {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 50px;
    text-align: center;
  }
}

.contact .contactMe form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
  background-color: rgba(121, 120, 136, 0.705);
  font-size: 2rem;
}

.contact .contactMe form input,
.contact .contactMe form textarea {
  border: 1px solid rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.4);
  color: #a1b1bc;
  margin: 10px;
  padding: 10px;
}

.contact .contactMe form textarea {
  resize: none;
}

.contact .contactMe form input[type="submit"] {
  background-color: #65d9fd;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: 800;
  width: 30%;
}

.contact .contactMe form input[type="submit"]:hover, .contact .contactMe form input[type="submit"]:focus {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .contact .contactMe form {
    width: 100%;
  }
}

footer {
  text-align: center;
}
